.searchBar {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5rem;
  place-items: center;
  padding: 3rem;
  background-color: #061b41;
  color: white;
  border-radius: 8px;
}

.date-range {
  display: grid;
  place-items: center;
  background-color: white;
}

.date-label {
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
